body {
    background-color: #f5f7fa;
    color: #1f2937;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


body {
    font-size: 16px;
}

@media (max-width: 768px) {
    .header-container {
        height: auto;
        padding: 20px;
    }

    p {
        font-size: 15px;
        margin: 8px 15px;
    }
}


.header-container {
    display: flex;
    justify-content: center;

    align-items: center;

    height: 30vh;

    text-align: center;
}



h1 {
    margin: 0;
    text-align: center;
}


.content {
    max-width: 700px;
    margin: 20px auto;

}


p {
    line-height: 1.8;
    font-size: 16px;
    margin: 10px 0;
}


.en {
    display: block;
    text-align: left;
    margin-left: 30px;
}

.ar {
    display: none;
    text-align: right;
    margin-right: 30px;
}


#switchLang {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
}

.projects {
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
}

.project {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.project h3 {
    margin-top: 0;
}

.project a {
    color: #1f2937;
    text-decoration: none;
    font-weight: bold;
}

.project a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    background-color: #f0f0f0;
    font-size: 14px;
    color: #333;
}

.project-image {

    width: 100%;
    max-width: 300px;
    height: auto;

    transition: transform 0.3s, box-shadow 0.3s;
}

.project-image:hover {

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);


    transform: scale(1.08);
    box-shadow: 0 8px 25px #2563eb(0, 0, 0, 0.3);


}